@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
html {
  scroll-behavior: smooth;
}

body {
  margin: auto;
  width: 100%;
}

#about {
  display: flex;
  font-family: "Lato", sans-serif;
  color: rgb(250, 235, 215);
  width: 100%;
  padding: 200px 0;
  border-bottom: 1px solid #ff9100;
}
@media screen and (max-width: 1023px) {
  #about {
    display: block;
    padding: 100px 0;
  }
}
#about .head_gauche {
  width: 50%;
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
}
@media screen and (max-width: 1023px) {
  #about .head_gauche {
    width: 100%;
  }
}
#about .head_gauche .head_titre {
  text-align: center;
  display: flex;
  padding: 30px 60px;
}
@media screen and (max-width: 1023px) {
  #about .head_gauche .head_titre {
    justify-content: center;
  }
}
#about .head_gauche .head_sous-titre {
  padding: 10px 60px;
  display: flex;
  font-size: 25px;
}
@media screen and (max-width: 1023px) {
  #about .head_gauche .head_sous-titre {
    justify-content: center;
    margin-bottom: 100px;
    text-align: center;
  }
}
#about .head_droite {
  width: 50%;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  padding-right: 60px;
}
@media screen and (max-width: 1023px) {
  #about .head_droite {
    width: 100%;
    padding-right: 0;
  }
}
#about .head_droite .head_desc {
  line-height: 40px;
  width: 85%;
  margin: auto;
}
@media screen and (max-width: 1023px) {
  #about .head_droite .head_desc {
    width: 85%;
    text-align: center;
  }
}

#parcours {
  width: 100%;
  background: url(../images/background-parcours.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: rgb(224, 224, 224);
  display: flex;
  justify-content: center;
}

.parcours_font {
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  width: 100%;
}

.parcours_box {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgba(2, 42, 58, 0.9);
  border: 3px solid #023a50;
  border-radius: 10px;
  margin: 100px auto;
}
@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .parcours_box {
    width: 70%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .parcours_box {
    width: 80%;
  }
}
@media screen and (max-width: 767px) {
  .parcours_box {
    width: 95%;
  }
}
.parcours_box .parcours_contenu {
  padding: 60px 0;
}
.parcours_box .parcours_contenu .parcours_titre {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  text-align: center;
  margin: 40px 0 60px 0;
}
@media screen and (max-width: 766px) {
  .parcours_box .parcours_contenu .parcours_titre {
    font-size: 20px;
    margin: 20px 0 30px 0;
  }
}
.parcours_box .parcours_contenu .parcours_titre h1 {
  margin: 0;
}
.parcours_box .parcours_contenu .parcours_liste {
  font-family: "Lato", sans-serif;
  padding: 0 40px;
  font-size: 18px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 766px) {
  .parcours_box .parcours_contenu .parcours_liste {
    font-size: 16px;
  }
}
.parcours_box .parcours_contenu .parcours_liste .brevet {
  text-align: start;
  justify-content: flex-start;
  display: flex;
  width: 90%;
  height: 200px;
  align-items: center;
  margin: 10px 0 0 20px;
  border-bottom: 3px solid black;
}
.parcours_box .parcours_contenu .parcours_liste .brevet i {
  padding-right: 15px;
  padding-left: 70px;
}
@media screen and (max-width: 768px) {
  .parcours_box .parcours_contenu .parcours_liste .brevet i {
    padding-left: 0;
  }
}
.parcours_box .parcours_contenu .parcours_liste .brevet p {
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .parcours_box .parcours_contenu .parcours_liste .brevet p {
    padding-left: 5px;
  }
}
.parcours_box .parcours_contenu .parcours_liste .bac {
  text-align: end;
  justify-content: flex-end;
  display: flex;
  width: 90%;
  height: 200px;
  align-content: flex-end;
  align-items: center;
  margin: 10px 20px 0 20px;
  border-bottom: 3px solid black;
}
.parcours_box .parcours_contenu .parcours_liste .bac p {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .parcours_box .parcours_contenu .parcours_liste .bac p {
    padding-right: 5px;
  }
}
.parcours_box .parcours_contenu .parcours_liste .bac i {
  padding-left: 15px;
  padding-right: 70px;
}
@media screen and (max-width: 768px) {
  .parcours_box .parcours_contenu .parcours_liste .bac i {
    padding-right: 0;
  }
}
.parcours_box .parcours_contenu .parcours_liste .formation {
  text-align: start;
  justify-content: flex-start;
  display: flex;
  width: 90%;
  height: 200px;
  align-items: center;
  margin: 10px 20px 0 20px;
  border-bottom: 3px solid black;
}
.parcours_box .parcours_contenu .parcours_liste .formation i {
  padding-right: 15px;
  padding-left: 70px;
}
@media screen and (max-width: 768px) {
  .parcours_box .parcours_contenu .parcours_liste .formation i {
    padding-left: 0;
  }
}
.parcours_box .parcours_contenu .parcours_liste .formation p {
  padding-left: 20px;
}
@media screen and (max-width: 768px) {
  .parcours_box .parcours_contenu .parcours_liste .formation p {
    padding-left: 5px;
  }
}
.parcours_box .parcours_contenu .parcours_liste .stage {
  text-align: end;
  justify-content: flex-end;
  display: flex;
  width: 90%;
  height: 200px;
  align-items: center;
  margin: 10px 20px 0 20px;
}
.parcours_box .parcours_contenu .parcours_liste .stage p {
  padding-right: 20px;
}
@media screen and (max-width: 768px) {
  .parcours_box .parcours_contenu .parcours_liste .stage p {
    padding-right: 5px;
  }
}
.parcours_box .parcours_contenu .parcours_liste .stage i {
  padding-left: 15px;
  padding-right: 70px;
}
@media screen and (max-width: 768px) {
  .parcours_box .parcours_contenu .parcours_liste .stage i {
    padding-right: 0;
  }
}

#cv {
  width: 100%;
  justify-content: center;
  text-align: center;
  background-color: #0d0f17;
  display: flex;
  padding: 80px 0;
  position: relative;
  border-top: 1px solid #ff9100;
  border-bottom: 1px solid #ff9100;
}
#cv a {
  display: block;
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 800;
  color: rgb(224, 224, 224);
  z-index: 200;
}
#cv .cv__circles {
  width: 6em;
  height: 6em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#cv .cv__circles .cv__circle {
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#cv .cv__circles .cv__circle--big {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #ff9100 0%, #ff9100 35%, transparent 35%, transparent 65%, #ff9100 65%);
  z-index: 1;
}
#cv .cv__circles .cv__circle--small {
  width: 90%;
  height: 90%;
  background: #0d0f17;
  z-index: 100;
  opacity: 1;
}

#competences {
  background: url(../images/map.png);
  background-attachment: fixed;
  color: rgb(224, 224, 224);
  width: 100%;
}
#competences .competences__font {
  background-color: rgba(26, 28, 34, 0.97);
  padding-bottom: 150px;
}
#competences .competence__titre {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 50px 0;
}
@media screen and (max-width: 766px) {
  #competences .competence__titre {
    font-size: 20px;
  }
}

.competence__container {
  display: flex;
  width: 95%;
  margin: auto;
  font-family: "Lato", sans-serif;
  justify-content: space-between;
}
@media screen and (max-width: 1023px) {
  .competence__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
.competence__container .competence__box {
  width: 20%;
  padding: 0 50px;
  justify-content: center;
  background-color: rgba(2, 42, 58, 0.43);
  border-radius: 15px;
  border: 3px solid rgb(2, 58, 80);
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .competence__container .competence__box {
    width: 70%;
    justify-content: center;
    margin: 40px auto;
  }
}
@media screen and (max-width: 766px) {
  .competence__container .competence__box {
    width: 90%;
    margin: 40px auto;
    justify-content: center;
    padding: 0;
  }
}
.competence__container .competence__box h3 {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
}
@media screen and (max-width: 766px) {
  .competence__container .competence__box h3 {
    font-size: 26px;
  }
}

svg {
  display: flex;
  justify-content: center;
  width: 150px;
}

span {
  position: absolute;
  left: 52%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 900;
  font-size: 20px;
}
@media screen and (max-width: 766px) {
  span {
    font-size: 16px;
  }
}

.langage__info {
  display: flex;
  justify-content: center;
  padding: 0 20px;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .langage__info {
    display: flex;
    flex-direction: row;
  }
}

.langage__name {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 767px) and (max-width: 1023px) {
  .langage__name {
    justify-content: baseline;
    display: flex;
  }
}
@media screen and (max-width: 766px) {
  .langage__name {
    padding: 5px 0;
  }
}
.langage__name p {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}
@media screen and (max-width: 766px) {
  .langage__name p {
    margin-left: 20px;
    font-size: 16px;
  }
}
.langage__name img {
  width: 50px;
}
@media screen and (max-width: 766px) {
  .langage__name img {
    width: 35px;
    margin-right: 20px;
  }
}

.pourcent {
  position: relative;
}

.vscode, .postman, .github, .mongodb {
  padding: 30px 0;
}

svg .circle__langages, .circle__frameworks {
  fill: none;
  stroke: rgb(255, 145, 0);
  stroke-width: 6px;
  transform: translate(25%, 25%);
  stroke-dasharray: 252;
  stroke-linecap: round;
  stroke-dashoffset: 50;
  z-index: 500;
}

.circle__langages:nth-child(1), .circle__frameworks:nth-child(1) {
  stroke-dashoffset: 0;
  stroke: rgb(2, 58, 80);
}

.html:nth-child(2) {
  stroke-dashoffset: 50;
}

.css:nth-child(2) {
  stroke-dashoffset: 63;
}

.javascript:nth-child(2) {
  stroke-dashoffset: 93;
}

.sass:nth-child(2) {
  stroke-dashoffset: 71;
}

.bootstrap:nth-child(2) {
  stroke-dashoffset: 101;
}

.nodejs:nth-child(2) {
  stroke-dashoffset: 106;
}

#projets {
  padding: 50px 0;
  width: 100%;
  margin: auto;
  background-color: #1a1c22;
  border-bottom: 1px solid rgb(255, 145, 0);
  border-top: 1px solid rgb(255, 145, 0);
}

.projets__title {
  font-family: "Orbitron", sans-serif;
  font-size: 25px;
  text-align: center;
  justify-content: center;
  display: flex;
  padding: 50px 0;
  color: rgb(224, 224, 224);
}
@media screen and (max-width: 766px) {
  .projets__title {
    font-size: 20px;
  }
}

.projets__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  width: 350px;
  height: 350px;
  margin: 25px 70px;
  background-color: rgb(2, 42, 58);
  color: rgb(224, 224, 224);
  text-align: center;
  border: 3px solid rgb(2, 58, 80);
  overflow: hidden;
  font-family: "Lato", sans-serif;
  border-radius: 10px;
}
@media screen and (max-width: 1023px) {
  .card {
    justify-content: center;
    margin: 12px 35px;
  }
}
.card .card__data {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-350px);
  transition: transform 0.25s;
}
.card .card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.25s 0.25s;
}
.card .card__title {
  font-size: 26px;
  text-transform: uppercase;
  color: rgb(224, 224, 224);
  background-color: #000000;
  border-radius: 20px;
  border-bottom: 2px solid rgb(255, 145, 0);
  margin: 40px 10px 25px 10px;
  padding: 10px 0;
}
@media screen and (max-width: 766px) {
  .card .card__title {
    font-size: 20px;
  }
}
.card .card__description {
  padding: 10px;
  margin-bottom: 15px;
}
.card a {
  display: inline-block;
  text-decoration: none;
  padding: 5px 10px;
  margin: 8px 20px;
  border-radius: 10px;
  width: 40%;
  color: black;
  background-color: rgb(224, 224, 224);
}

.card a:hover {
  background-color: black;
  color: #fff;
}

.card:hover .card__data {
  transform: translateY(0px);
}

.card:hover .card__img {
  transform: translateX(350px);
  transition-delay: 0.1s;
}

.container {
  margin: 0;
  opacity: 1;
  width: 100%;
  color: rgb(224, 224, 224);
  font-family: "Lato", sans-serif;
  border-bottom: 2px solid #023a50;
  position: fixed;
  background-color: rgba(2, 25, 34, 0.8);
  backdrop-filter: blur(10px);
  z-index: 300;
}

#head {
  background: url(../images/Background-home.jpg);
  background-size: cover;
  box-shadow: 0px 0px 10px 0px #000000, 0 0 10px 0 #000000;
}

.onglet_1 {
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar {
  padding: 0 70px;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  display: flex;
  justify-content: space-between;
  position: sticky;
}
@media screen and (max-width: 858px) {
  .navbar {
    padding: 0 40px;
  }
}
.navbar .checkbtn {
  display: none;
}
@media screen and (max-width: 858px) {
  .navbar .checkbtn {
    display: block;
    color: white;
    font-size: 30px;
    float: right;
    cursor: pointer;
  }
}

.logo-header {
  justify-content: flex-start;
}

.menu {
  display: flex;
  white-space: nowrap;
  justify-content: flex-end;
}
@media screen and (max-width: 858px) {
  .menu {
    display: none;
  }
}
.menu li {
  list-style: none;
}
.menu li a {
  padding: 0px 20px;
  text-decoration: none;
  color: rgb(224, 224, 224);
  font-size: 17px;
  font-weight: 700;
}

#contact {
  background-color: #0d0f17;
  padding: 100px 0;
}

form {
  background: rgba(27, 31, 34, 0.8);
  width: 640px;
  margin: auto;
  max-width: 97%;
  border-radius: 4px;
  border: 1px solid rgb(255, 145, 0);
  padding: 55px 30px;
  font-family: "Lato", sans-serif;
}
@media screen and (max-width: 767px) {
  form {
    width: 70%;
  }
}

form .title h2 {
  letter-spacing: 6px;
  color: rgb(224, 224, 224);
  border-bottom: 1px solid rgb(255, 145, 0);
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 32px;
}

form .half {
  display: flex;
  justify-content: space-between;
  color: rgb(224, 224, 224);
}

form .half .item {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 46%;
}

form label {
  display: block;
  font-size: 13px;
  letter-spacing: 3.5px;
  margin-bottom: 16px;
}

form .half .item input {
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  width: 100%;
  height: 44px;
  background: transparent;
  font-size: 17px;
  color: rgb(224, 224, 224);
  font-family: "Lato", sans-serif;
}

form .full {
  margin-bottom: 24px;
  margin-right: 2px;
  color: rgb(224, 224, 224);
}

.item__email, .item__name {
  margin-right: 6px;
  caret-color: rgb(255, 145, 0);
}

form .full textarea {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  outline: 0;
  padding: 12px 0px;
  width: 100%;
  height: 200px;
  font-size: 17px;
  resize: none;
  color: rgb(224, 224, 224);
  font-family: "Lato", sans-serif;
  caret-color: rgb(255, 145, 0);
}

form .action {
  margin-bottom: 32px;
}

form .action button {
  background: transparent;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  height: 44px;
  letter-spacing: 3px;
  outline: 0;
  padding: 0 20px 0 22px;
  margin-right: 10px;
}

form .action button {
  background: white;
  color: #0d0f17;
}

form .action button:hover {
  background: #0d0f17;
  color: rgb(224, 224, 224);
}

form .icons a {
  color: rgb(224, 224, 224);
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  font-weight: 600;
  width: 38px;
  margin-right: 25px;
}

form .half .item #mail:focus, form .full #msg:focus, form .half .item #nom:focus {
  background: rgba(255, 255, 255, 0.075);
}

@media (max-width: 1024px) {
  form .half {
    flex-direction: column;
  }
  form .half .item {
    width: 100%;
  }
  form .action {
    display: flex;
    flex-direction: column;
  }
  form .action input {
    margin-bottom: 10px;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
