//couleurs primaires
$header: rgb(2, 25, 34);
$primaire: rgb(2, 42, 58);
$secondaire: rgb(2, 58, 80);
$tertiaire: rgb(255, 145, 0);


//couleurs texte
$text: rgb(224, 224, 224);

//Background
$background: #1a1c22;

//Size
$size-title : 25px;