//page d'ensemble
html {
    scroll-behavior: smooth;
}

body {
    margin: auto;
    width: 100%;
}

#about {
    display: flex;
    font-family: "Lato", sans-serif;
    color: rgb(250, 235, 215);
    width: 100%;
    padding: 200px 0;
    border-bottom: 1px solid #ff9100;
    .head_gauche {
        width: 50%;
        font-family: "Orbitron", sans-serif;
        font-size: $size-title;
        .head_titre {
            text-align: center;
            display: flex;
            padding: 30px 60px;
        }
        .head_sous-titre {
            padding: 10px 60px;
            display: flex;
            font-size: 25px;
        }
    }
    .head_droite {
        width: 50%;
        font-family: "Lato", sans-serif;
        font-size: 18px;
        padding-right: 60px;
        .head_desc {
            line-height: 40px;
            width: 85%;
            margin: auto;
        }
    }
}

//Catégorie Mon Parcours
#parcours {
    width: 100%;
    background: url(../images/background-parcours.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: $text;
    display: flex;
    justify-content: center;
}
.parcours_font {
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    width: 100%;
}

.parcours_box {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: rgba($primaire, $alpha: 0.9);
    border: 3px solid rgba($color: $secondaire, $alpha: 1.0);
    border-radius: 10px;
    margin: 100px auto;
    .parcours_contenu {
        padding: 60px 0;
        .parcours_titre {
            font-family: "Orbitron", sans-serif;
            font-size: $size-title;
            text-align: center;
            margin: 40px 0 60px 0;
            h1 {
                margin: 0;
            }
        }
        .parcours_liste {
            font-family: "Lato", sans-serif;
            padding: 0 40px;
            font-size: 22px;
            display: flex;
            flex-direction: column;
            .brevet {
                text-align: start;
                justify-content: flex-start;
                display: flex;
                width: 90%;
                height: 200px;
                align-items: center;
                margin: 10px 0 0 20px;
                border-bottom: 3px solid rgba($color: #000000, $alpha: 1.0);
                i {
                    padding-right: 15px;
                    padding-left: 70px;
                }
                p {
                    padding-left: 20px;
                }
            }
            .bac {
                text-align: end;
                justify-content: flex-end;
                display: flex;
                width: 90%;
                height: 200px;
                align-content: flex-end;
                align-items: center;
                margin: 10px 20px 0 20px; 
                border-bottom: 3px solid rgba($color: #000000, $alpha: 1.0);
                p {
                    padding-right: 20px;
                }
                i {
                    padding-left: 15px;
                    padding-right: 70px;
                }
            }
            .formation {
                text-align: start;
                justify-content: flex-start;
                display: flex;
                width: 90%;
                height: 200px;
                align-items: center;
                margin: 10px 20px 0 20px;
                border-bottom: 3px solid rgba($color: #000000, $alpha: 1.0); 
                i {
                    padding-right: 15px;
                    padding-left: 70px;
                }
                p {
                    padding-left: 20px;
                }
            }
            .stage {
                text-align: end;
                justify-content: flex-end;
                display: flex;
                width: 90%;
                height: 200px;
                align-items: center;
                margin: 10px 20px 0 20px; 
                p {
                    padding-right: 20px;
                }
                i {
                    padding-left: 15px;
                    padding-right: 70px;
                }
            }
        }
    }
}

//Catégorie CV
#cv {
    width: 100%;
    justify-content: center;
    text-align: center;
    background-color: #0d0f17;
    display: flex;
    padding: 80px 0;
    position: relative;
    border-top: 1px solid #ff9100;
    border-bottom: 1px solid #ff9100;
        a {
            display: block;
            text-decoration: none;
            font-family: "Lato", sans-serif;
            font-size: 18px;
            font-weight: 800;
            color: $text;
            z-index: 200;
        }
        .cv__circles {
            width: 6em;
            height: 6em;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            .cv__circle {
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            .cv__circle--big {
                width: 100%;
                height: 100%;
                background: linear-gradient(to bottom, #ff9100 0%, #ff9100 35%, transparent 35%, transparent 65%, #ff9100 65%);
                z-index: 1;
            }
            .cv__circle--small {
                width: 90%;
                height: 90%;
                background: #0d0f17;
                z-index: 100;
                opacity: 1;
            }
        }
}

//Compétences
#competences {
    background: url(../../images/map.png);
    background-attachment: fixed;
    color: $text;
    width: 100%;
    border-bottom: 1px solid $tertiaire;
    .competences__font {
        background-color: rgba($color: $background, $alpha: 0.97);
        padding-bottom: 150px;
    }
    .competence__titre {
        font-family: "Orbitron", sans-serif;
        font-size: $size-title;
        text-align: center;
        justify-content: center;
        display: flex;
        padding: 50px 0;
    }
}
.competence__container {
    display: flex;
    width: 95%;
    margin: auto;
    font-family: "Lato", sans-serif;
    justify-content: space-between;
    .competence__box {
        width: 20%;
        padding: 0 50px;
        justify-content: center;
        background-color: rgba($color: $primaire, $alpha: 0.43);
        border-radius: 15px;
        border: 3px solid $secondaire;
        h3 {
            text-align: center;
            font-size: 30px;
            font-weight: 900;
        }
    }
}

svg {
    display: flex;
    justify-content: center;
    width: 150px;
}
span {
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-weight: 900;
    font-size: 20px;
}

.langage__info {
    display: flex;
    justify-content: center;
    padding: 0 20px;
}

.langage__name {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    text-align: center; 
    align-items: center;
    width: 100%;
    p {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
    }
    img {
        width: 50px;
    }
}

.pourcent {
    position: relative;
}

.vscode, .postman, .github, .mongodb {
    padding: 30px 0;
}

svg .circle__langages, .circle__frameworks{
    fill: none;
    stroke: $tertiaire;
    stroke-width: 6px;
    transform: translate(25%, 25%);
    stroke-dasharray: 252;
    stroke-linecap: round;
    stroke-dashoffset: 50;
    z-index: 500;
}
.circle__langages:nth-child(1), .circle__frameworks:nth-child(1) {
    stroke-dashoffset: 0;
    stroke: $secondaire;
}
.html:nth-child(2) {
    stroke-dashoffset: 50;
}
.css:nth-child(2) {
    stroke-dashoffset: 63;
}
.javascript:nth-child(2) {
    stroke-dashoffset: 93;
}
.sass:nth-child(2) {
    stroke-dashoffset: 71;
}
.bootstrap:nth-child(2) {
    stroke-dashoffset: 101;
}
.nodejs:nth-child(2) {
    stroke-dashoffset: 106;
}