#contact {
    background-color: #0d0f17;
    padding: 100px 0;
}

form {
    background: rgba(27,31,34,0.80);
    width: 640px;
    margin: auto;
    max-width: 97%;
    border-radius: 4px;
    border: 1px solid $tertiaire;
    padding: 55px 30px;
    font-family: 'Lato', sans-serif;
    @media screen and (max-width: 767px) {
        width: 70%;
    }
}

form .title h2 {
letter-spacing: 6px;
color: $text;
border-bottom: 1px solid $tertiaire;
display: inline-block;
padding-bottom: 8px;
margin-bottom: 32px;
}

form .half {
display: flex;
justify-content: space-between;
color: $text;
}

form .half .item {
display: flex;
flex-direction: column;
margin-bottom: 24px;
width: 46%;
}

form label {
display: block;
font-size: 13px;
letter-spacing: 3.5px;
margin-bottom: 16px;
}

form .half .item input {
border-radius: 4px;
border: 1px solid white;
outline: 0;
width: 100%;
height: 44px;
background: transparent;
font-size: 17px;
color: $text;
font-family: 'Lato', sans-serif;
}

form .full {
margin-bottom: 24px;
margin-right: 2px;
color: $text;
}

.item__email, .item__name {
margin-right: 6px;
caret-color: $tertiaire;
}

form .full textarea {
background: transparent;
border-radius: 4px;
border: 1px solid white;
outline: 0;
padding: 12px 0px;
width: 100%;
height: 200px;
font-size: 17px;
resize: none;
color: $text;
font-family: 'Lato', sans-serif;
caret-color: $tertiaire;
}

form .action{
margin-bottom: 32px;
}

form .action button {
cursor: pointer;
border-radius: 4px;
border: 1px solid white;
font-size: 14px;
font-weight: 600;
height: 44px;
letter-spacing: 3px;
outline: 0;
padding: 0 20px 0 22px;
margin-right: 10px;
background: white;
color: #0d0f17;
transition: transform 0.2s ease-in-out;
}

form .action button:hover {
    background: rgba(27,31,34,0.80);
    color: $text;
    transform: scale(1.05);
    }

form .icons a {
color: $text;
font-size: 30px;
line-height: 36px;
text-align: center;
font-weight: 600;
margin-right: 25px;
}

form .icons a:hover {
    color: white;
}
  
form .half .item .mail:focus, form .full .text:focus, form .half .item .nom:focus { 
background: rgba(255,255,255,0.075);
}
  
@media (max-width: 1024px) {
    form .half{
        flex-direction: column;
    }
    form .half .item{
        width: 100%;
    }
    form .action{
        display: flex;
        flex-direction: column;
    }
    form .action input{
        margin-bottom: 10px;
        width: 100%;
    }
}